.classList {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    background: #fff;
    z-index: 1;
    position: relative;
    .classList {
        background: #fff;
        margin: 130px 0 40px 0;
        position: relative;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    }
    .classBox {
        position: absolute;
        width: 400px;
        top: 60px;
        height: 700px;
        overflow: auto;
        padding: 14px 10px 4px;
    }
    .classBox li {
        position: relative;
        font-size: 24px;
        margin-bottom: 3px;
        border-bottom: 1px solid #ededed;
    }
    .classBox li .groupName:hover {
        color: red;
        cursor: pointer;
    }
}