.title {
    font-size: 18px;
    color: #393939;
    font-weight: 600;
}

.back {
    cursor: pointer;
    font-size: 16px;
}

.app-container {
    background: #ccc;
    background-image: url("../../assets/wood.jpg");
    background-repeat: repeat;
}