.title {
    font-size: 18px;
    color: #393939;
    font-weight: 600;
}

.back {
    cursor: pointer;
    font-size: 40px;
}

// body {
//     background: #ccc;
//     background-image: url("../../assets/wood.jpg");
//     background-repeat: repeat;
// }
body {
    background-color: red;
}