.pageContent {
    // min-width: 850px;// min-height: 475px;
    margin: 0 auto;
    width: 905px;
    height: 540px;
    position: relative;
    background-image: url("../../assets/bg.png");
    background-repeat: no-repeat;
    .contentContainer {
        position: relative;
        left: 13%;
        top: 6%;
    }
}

.ti {
    color: green;
    display: inherit;
}

.active {
    background-color: yellowgreen;
}

.pageButton {
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 0px;
}

.nextPage {
    right: 0px;
    top: 45%;
}

.prevPage {
    left: -30px;
    top: 45%;
}

.firstPage {
    left: -30px;
    top: 55%;
}

.lastPage {
    right: 0px;
    top: 55%;
}

.pagenumber {
    font-size: 12px;
    bottom: 0px;
}

.leftPage {}

.rightPage {}