.story {
    width: 1100px;
    margin: 0 auto;
    .story-panel {
        position: relative;
        /*padding-top: 70px;*/
        .pageContent {
            // min-width: 850px;// min-height: 475px;
            overflow: hidden;
            color: #333;
            margin: 0 auto;
            width: 1100px;
            height: 670px;
            background-image: url("../../../static/img/bg.png"); //../../assets/bg.png
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            #opened-book {
                position: relative;
                height: calc(100% - 100px);
            }
        }
        .title {
            width: 100%;
            text-align: left;
            color: #3a8ee6;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-top: 30px;
            padding-left: 129px;
            text-shadow: 4px 3px 22px;
        }
        /*.back-page {
            position: absolute;
            top: 50%;
        }*/
        .pageButton {
            position: absolute;
            height: 40px;
            width: 40px;
            cursor: pointer;
            border-radius: 20px;
            display: block;
        }
        /*.nextPage {
            right: 0px;
            top: 45%;
        }
        .lastPage {
            right: 0px;
            top: 55%;
        }*/
        .pagenumber {
            font-size: 12px;
            bottom: 90px;
        }
        .leftnumber {
            position: absolute;
            left: 262px;
        }
        .rightnumber {
            position: absolute;
            right: 262px;
        }
        .page-btn {
            position: absolute;
            top: 50%;
            left: -10px;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            text-align: center;
            line-height: 40px;
            &.forward-page {
                left: auto;
                right: 10px;
            }
            button {
                margin: 0;
                &:before {
                    width: 40px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                    line-height: 40px;
                }
                ;
            }
        }
        .btn-next {
            bottom: 50px;
        }
    }
}

.active {
    background-color: yellowgreen;
}

#opened-book {
    a.active {
        background: #409eff;
        color: #fff;
    }
}
@media only screen and (min-height: 520px) and (max-height: 888px) {  
    .story {
        position: relative;
        bottom: 10px;
        .story-panel {
            padding-top: 0px;
            .pageContent {
                width: 900px;
                height: 600px;
            }
        }
    }
    .story .story-panel .pageContent .back-page {
        left: 74px;
    }
    .story .story-panel .pageContent .forward-page {
        right: 90px;
    }
    .story .story-panel .title {
        margin-top: 50px;
    }
}