.pageContent {
    // min-width: 850px;// min-height: 475px;
    margin: 0 auto;
    width: 905px;
    height: 540px;
    position: relative;
    background-image: url("../../assets/bg.png");
    background-repeat: no-repeat;
    .contentContainer {
        position: relative;
        width: 100%;
        height: 100%;
        left: 12%;
        top: 6%;
    }
}

.ti {
    color: green;
    text-align: center;
    width: 100%;
    left: 50%;
}

.active {
    background-color: yellowgreen;
}